body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background:
    linear-gradient(rgba(113, 113, 113, 0.3)),url("image/av.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  flex-direction: column;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  text-align: center;
  width: 320px;
  border: 1px solid rgba(255, 255, 255, 0.4); 
}

h2 {
  margin-bottom: 20px;
  color: #fff;
}

input {
  display: block;
  width: 90%;
  padding: 12px;
  margin: 10px 0 20px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: #fff;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}


button {
  width: 76%;
  height: 45px;
  font-size: 16px;
  background-color: rgba(39, 30, 212, 0.7);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgba(103, 105, 218, 0.9);
}

#message {
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
}
